@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<div class="container">
    <div class="leftColumn">
        <div vocab="http://www.w3.org/2006/vcard/ns#"
             resource="http://example.com/me/Oana" typeof="Individual">
            <div>
                <span><b>Name : </b></span>
                <span property="formattedName">Aghebanoae Oana - Domita</span>
            </div>
            <div>
                <span><b>Telephone : </b></span>
                <span property="hasTelephone" typeof="Home Voice">
                    <span property="telephone">61755555555</span>
                </span>
            </div>
            <div>
                <span><b>Email address : </b></span>
                <link property="email" href="mailto:oana.aghebanoae@info.uaic.ro" />
            </div>
            <div>
                <span> <b>Address </b></span>
                <div property="hasAddress" typeof="Home">
                    <div>
                        <span>&nbsp &nbsp &nbsp <b>Street :</b> </span>
                        <span property="streetAddress">111, Unirii</span>
                    </div>
                    <div>
                        <span>&nbsp &nbsp &nbsp <b>Locality : </b></span>
                        <span property="locality">Iasi</span>
                    </div>
                    <div>
                        <span>&nbsp &nbsp &nbsp <b>Postal Code : </b></span>
                        <span property="postalCode">4344</span>
                    </div>
                    <div>
                        <span>&nbsp &nbsp &nbsp <b>Country : </b></span>
                        <span property="country">Romania</span>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
        <div vocab="http://www.w3.org/2006/vcard/ns#"
             resource="http://example.com/me/Simona" typeof="Individual">
            <div>
                <span><b>Name : </b></span>
                <span property="formattedName">Andries Simona</span>
            </div>
            <div>
                <span><b>Telephone : </b></span>
                <span property="hasTelephone" typeof="Home Voice">
                    <span property="telephone">5477867898</span>
                </span>
            </div>
            <div>
                <span><b>Email address : </b></span>
                <link property="email" href="mailto:simona.andries@info.uaic.ro" />
            </div>
            <div>
                <span> <b>Address </b></span>
                <div property="hasAddress" typeof="Home">
                    <div>
                        <span>&nbsp &nbsp &nbsp <b>Street :</b> </span>
                        <span property="streetAddress">34, Lacramioarelor</span>
                    </div>
                    <div>
                        <span>&nbsp &nbsp &nbsp <b>Locality : </b></span>
                        <span property="locality">Iasi</span>
                    </div>
                    <div>
                        <span>&nbsp &nbsp &nbsp <b>Postal Code : </b></span>
                        <span property="postalCode">3245</span>
                    </div>
                    <div>
                        <span>&nbsp &nbsp &nbsp <b>Country : </b></span>
                        <span property="country">Romania</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rightColumn">
        <div vocab="http://www.w3.org/2006/vcard/ns#"
             resource="http://example.com/me/Silvia" typeof="Individual">
            <div>
                <span><b>Name : </b></span>
                <span property="formattedName">Gabor Silvia</span>
            </div>
            <div>
                <span><b>Telephone : </b></span>
                <span property="hasTelephone" typeof="Home Voice">
                    <span property="telephone">8964555434</span>
                </span>
            </div>
            <div>
                <span><b>Email address : </b></span>
                <link property="email" href="mailto:silvia.gabor@info.uaic.ro" />
            </div>
            <div>
                <span> <b>Address </b></span>
                <div property="hasAddress" typeof="Home">
                    <div>
                        <span>&nbsp &nbsp &nbsp <b>Street :</b> </span>
                        <span property="streetAddress">65, Nicolae Iorga</span>
                    </div>
                    <div>
                        <span>&nbsp &nbsp &nbsp <b>Locality : </b></span>
                        <span property="locality">Iasi</span>
                    </div>
                    <div>
                        <span>&nbsp &nbsp &nbsp <b>Postal Code : </b></span>
                        <span property="postalCode">9765</span>
                    </div>
                    <div>
                        <span>&nbsp &nbsp &nbsp <b>Country : </b></span>
                        <span property="country">Romania</span>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
        <div vocab="http://www.w3.org/2006/vcard/ns#"
             resource="http://example.com/me/Iuliana" typeof="Individual">
            <div>
                <span><b>Name : </b></span>
                <span property="formattedName">Minea Iuliana</span>
            </div>
            <div>
                <span><b>Telephone : </b></span>
                <span property="hasTelephone" typeof="Home Voice">
                    <span property="telephone">64768454766</span>
                </span>
            </div>
            <div>
                <span><b>Email address : </b></span>
                <link property="email" href="mailto:iuliana.minea@info.uaic.ro" />
            </div>
            <div>
                <span> <b>Address </b></span>
                <div property="hasAddress" typeof="Home">
                    <div>
                        <span>&nbsp &nbsp &nbsp <b>Street :</b> </span>
                        <span property="streetAddress">24, Plantelor</span>
                    </div>
                    <div>
                        <span>&nbsp &nbsp &nbsp <b>Locality : </b></span>
                        <span property="locality">Iasi</span>
                    </div>
                    <div>
                        <span>&nbsp &nbsp &nbsp <b>Postal Code : </b></span>
                        <span property="postalCode">8767</span>
                    </div>
                    <div>
                        <span>&nbsp &nbsp &nbsp <b>Country : </b></span>
                        <span property="country">Romania</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
