<div>
    <h1>Welcome!</h1>
</div>
<div>
    <p>
        The purpose of ”Backpacker Recommender” application is to help the backpackers who travel a lot through foreign countries, often get lost or don't know how to get around in an unfamiliar place.
        The application offers the user the possibility to choose if he/she wants to search restaurant/hospitals/hotels nearby its current location or another selected city.
        The application offers the possibility to monitor the travel progress. This includes the places visited by the user and the date when the user visited it.
        The user can evaluate a visited place by rating it through the application. The rating will be taken into consideration when offering recommendation for a specific type of locations.
    </p>
</div>
